.card {
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
  /* writing-mode: vertical-lr; */
  text-align: justify;
  letter-spacing: 0.1em;
}

pre {
  tab-size: 10px;
}

span {
  text-decoration: underline dotted red;
}

span:hover {
  text-decoration-color: blue;
  text-decoration-line: line-through;
  text-decoration-style: solid;
}

* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-display: swap;
}

span {
  font-size: larger;
  font-weight: lighter;
  /* font-style: italic; */
}

/* .span-b {
  font-weight: lighter;
} */
